@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&display=swap');

body {
    background-color: rgb(233, 209, 178);
}

.heading {
    text-align: center;
}

.playground-heading {
    color:rgb(12, 185, 185);
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
}

.main {
    border: 3px solid grey;
    width: 55%;
    margin: 1rem auto;
}

.main div {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 2rem auto;
}

#red {
border-color: red;
}

#green {
    border-color: green;
}

#blue {
    border-color: blue;
}
.footer {
    color: azure;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    text-align: center;
}